In [25]:
import requests
import pandas as pd

def getData():
    dep_data=requests.get("https://api.aviationstack.com/v1/timetable iataCode=BOM&type=departure&access_key=5397c300ad75f77cf633c5a1dfa2859c")
    dep_df=pd.json_normalize(dep_data.json()['data'])
    dep_df.to_csv("home/akshata/flight_data/departure/dep_flights.csv")
    
    arr_data=requests.get("https://api.aviationstack.com/v1/timetable?iataCode=BOM&type=arrival&access_key=5397c300ad75f77cf633c5a1dfa2859c")
    arr_df=pd.json_normalize(arr_data.json()['data'])
    arr_df.to_csv("home/akshata/flight_data/arrival/arr_flights.csv")

In [28]:
dep_data=requests.get("https://api.aviationstack.com/v1/timetable?iataCode=BOM&type=departure&access_key=5397c300ad75f77cf633c5a1dfa2859c")

In [30]:
dep_df=pd.json_normalize(dep_data.json()['data'])
dep_df.head()

,codeshared,status,type,airline.iataCode,airline.icaoCode,airline.name,arrival.actualRunway,arrival.actualTime,arrival.baggage,arrival.delay,...,departure.terminal,flight.iataNumber,flight.icaoNumber,flight.number,codeshared.airline.iataCode,codeshared.airline.icaoCode,codeshared.airline.name,codeshared.flight.iataNumber,codeshared.flight.icaoNumber,codeshared.flight.number
0,NaN,active,departure,AI,AIC,Air India,None,None,2,None,...,2,AI2994,AIC2994,2994,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,active,departure,BA,BAW,British Airways,None,None,CD2,None,...,2,BA8002,BAW8002,8002,6e,igo,indigo,6e624,igo624,624
2,NaN,active,departure,VS,VIR,Virgin Atlantic,None,None,CD2,None,...,2,VS8608,VIR8608,8608,6e,igo,indigo,6e624,igo624,624
3,NaN,active,departure,6E,IGO,IndiGo,None,None,CD2,None,...,2,6E624,IGO624,624,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,active,departure,6E,IGO,IndiGo,None,None,None,14,...,2,6E6118,IGO6118,6118,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
arr_data=requests.get("https://api.aviationstack.com/v1/timetable?iataCode=BOM&type=arrival&access_key=5397c300ad75f77cf633c5a1dfa2859c")

In [32]:
arr_df=pd.json_normalize(arr_data.json()['data'])
arr_df.head()

,codeshared,status,type,airline.iataCode,airline.icaoCode,airline.name,arrival.actualRunway,arrival.actualTime,arrival.baggage,arrival.delay,...,departure.terminal,flight.iataNumber,flight.icaoNumber,flight.number,codeshared.airline.iataCode,codeshared.airline.icaoCode,codeshared.airline.name,codeshared.flight.iataNumber,codeshared.flight.icaoNumber,codeshared.flight.number
0,NaN,landed,arrival,AI,AIC,Air India,2025-09-23T10:16:00.000,2025-09-23T10:16:00.000,13,None,...,T2,AI2846,AIC2846,2846,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,landed,arrival,NH,ANA,ANA,2025-09-23T10:08:00.000,2025-09-23T10:08:00.000,5,None,...,3,NH6284,ANA6284,6284,sq,sia,singapore airlines,sq422,sia422,422
2,NaN,landed,arrival,NZ,ANZ,Air New Zealand,2025-09-23T10:08:00.000,2025-09-23T10:08:00.000,5,None,...,3,NZ3202,ANZ3202,3202,sq,sia,singapore airlines,sq422,sia422,422
3,NaN,landed,arrival,SQ,SIA,Singapore Airlines,2025-09-23T10:08:00.000,2025-09-23T10:08:00.000,5,None,...,3,SQ422,SIA422,422,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,landed,arrival,AI,AIC,Air India,2025-09-23T10:24:00.000,2025-09-23T10:24:00.000,1,None,...,3,AI887,AIC887,887,NaN,NaN,NaN,NaN,NaN,NaN

In [33]:
dep_df.columns

Index(['codeshared', 'status', 'type', 'airline.iataCode', 'airline.icaoCode',
       'airline.name', 'arrival.actualRunway', 'arrival.actualTime',
       'arrival.baggage', 'arrival.delay', 'arrival.estimatedRunway',
       'arrival.estimatedTime', 'arrival.gate', 'arrival.iataCode',
       'arrival.icaoCode', 'arrival.scheduledTime', 'arrival.terminal',
       'departure.actualRunway', 'departure.actualTime', 'departure.baggage',
       'departure.delay', 'departure.estimatedRunway',
       'departure.estimatedTime', 'departure.gate', 'departure.iataCode',
       'departure.icaoCode', 'departure.scheduledTime', 'departure.terminal',
       'flight.iataNumber', 'flight.icaoNumber', 'flight.number',
       'codeshared.airline.iataCode', 'codeshared.airline.icaoCode',
       'codeshared.airline.name', 'codeshared.flight.iataNumber',
       'codeshared.flight.icaoNumber', 'codeshared.flight.number'],
      dtype='object')

In [34]:
arr_df.columns

Index(['codeshared', 'status', 'type', 'airline.iataCode', 'airline.icaoCode',
       'airline.name', 'arrival.actualRunway', 'arrival.actualTime',
       'arrival.baggage', 'arrival.delay', 'arrival.estimatedRunway',
       'arrival.estimatedTime', 'arrival.gate', 'arrival.iataCode',
       'arrival.icaoCode', 'arrival.scheduledTime', 'arrival.terminal',
       'departure.actualRunway', 'departure.actualTime', 'departure.baggage',
       'departure.delay', 'departure.estimatedRunway',
       'departure.estimatedTime', 'departure.gate', 'departure.iataCode',
       'departure.icaoCode', 'departure.scheduledTime', 'departure.terminal',
       'flight.iataNumber', 'flight.icaoNumber', 'flight.number',
       'codeshared.airline.iataCode', 'codeshared.airline.icaoCode',
       'codeshared.airline.name', 'codeshared.flight.iataNumber',
       'codeshared.flight.icaoNumber', 'codeshared.flight.number'],
      dtype='object')

In [36]:
dep_df.to_csv("/home/akshata/flight_data/departure/dep_flights.csv")

In [37]:
arr_df.to_csv("/home/akshata/flight_data/arrival/arr_flights.csv")